*{
box-sizing: border-box;
margin:0%;

}

html{
    scroll-behavior: smooth;

}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(221, 219, 219);
    
}

#formulario{
    padding-top: 15%;
    text-align:center;
    padding-bottom: 25%;
    
}

h3{font-size: 2em;}


button{
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 15px;
    border:2px solid 1px 1px 5px red;
    color: black;
    background-color: yellow;
}



button:hover{
    background-color: red;
}

.container{
   max-width: 1200px;
   background-color: gainsboro;
   
      
   
}

header{
    background-color: black;
    color:rgb(205, 47, 47);
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

   
}


header .container{
    display:flex;
    align-items: center;
    flex-direction: column;
                      
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0px;
    padding: 15em 5em 5em;
    color: rgb(100,100,100);
}

footer .container{
    height: 3px;
    display: flex;
    justify-content: center;
    align-items:center;
background-color: gainsboro;
}

@media (min-width: 60px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
        
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
      
    }

   
    footer .container{
        justify-content: flex-end;
    
    }
}

@media (min-width: 300px) {
    #final{
        background-position-x: calc(15vw - 100px);
    }

}